<h1 class="mb-3">{{title}}</h1>

<ul class="list-group">
    <div class="row">
        {{#each data}}
        {{#if devoured}}
        <li class="list-group-item d-flex justify-content-between align-items-center col-6">
        </li>
        <li class=" list-group-item d-flex justify-content-between align-items-center col-6" id="{{id}}">
            <p class="text-right">{{burger_name}}</p>
        </li>
        {{else}}
        <li class="list-group-item d-flex justify-content-between align-items-center col-6">
            <p>{{burger_name}}</p>
            <button class="btn btn-danger devour-button" id="{{id}}">Devour It!</button>
        </li>
        <li class=" list-group-item d-flex justify-content-between align-items-center col-6" id="{{id}}">
            <p class="text-right"></p>
        </li>
        {{/if}}
        {{/each}}
    </div>
</ul>

{{!-- form --}}
<form class="mt-3" action="/api/burgers" method="POST">
    <div class="form-group">
        <textarea class="form-control" name="burger_name" type="text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>

{{!-- jQuery CDN --}}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

{{!-- axios CDN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>

    // click listener for devour buttons
    $('.devour-button').click(function () {
        const id = $(this).attr('id');
        clickDevour(id);
    })

    // function to send a put request using axios
    const clickDevour = (id) => {
        // send put request to /api/burgers/id
        axios.put(`/api/burgers/${id}`)
            .then(res => {
                console.log('Update success.');
                location.reload();
            }), (err) => {
                console.log(err);
            }
    }

</script>